@import "tailwindcss";
@import url('https://googleapis.com');
@layer utilities {
  @keyframes cloudScroll {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }

  .animate-clouds {
    animation: cloudScroll 20s linear infinite;
  }
}